.h6-color h6{
    font-size: 18px;
    font-weight: 700;
    color:#0e2e67;
    line-height: 15px;
}
.slick-current{
    background-color: #0E2E67;
    color: white;
    border: none;
    border-radius: 10px ;
}
.slick-current:hover{
    border: none;
    color: #0E2E67;
    background-color: #0E2E67;
}

.slick-current h6{
    color: white;
    
}
.slick-current h6:hover{
    color: #0E2E67;
    
}
.slider-p{
    
        font-size: 18px;
        color: #807c7c;
        font-weight: 400;
        line-height: 32px;
        font-style: italic;
        margin-top: 20px;
}



