.wrapper{
    max-height: 120px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
    width: 5px;
}
.wrapper .item{
    min-height: 110px;
    width: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 10px;
}