
.hr-color{
    border-top: 1px solid black;
    margin: 0;
}
.hr-color-2nd{
    border-top: 3px solid black; 
    margin-top: 2px;
}
.price-start{
    transform: skew(-12deg);
    box-shadow: 0 1px 4px -2px #000;
}

@media only screen and ( max-width: 1023px ) {
    .bg-no-repeat { 
      background-image: none !important;
    }
    .request-form-sm{
        display: flex;
        justify-content: center;
    }
  }
@media only screen and ( min-width: 1024px ) {
    .img-padding{
        min-height: 500px;
        padding: 0 15px 0 300px;
        background-position: no-repeat;
       
    }
   
  }