
ul li{
    border-left: 1px solid white;
 
}
ul li:hover{
    background-color: #1D75CC;
    
}
ul li a{
    padding: 0;
}
ul li ul li{
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
ul li ul li:hover{
    background-color: #F2701D;
    
}
.navbar{
    min-height: 2rem !important;
}
