ul li{
  border-left: 1px solid white;

}
ul li:hover{
  background-color: #1D75CC;

}
ul li a{
  padding: 0;
}
ul li ul li{
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
ul li ul li:hover{
  background-color: #F2701D;

}
.navbar{
  min-height: 2rem !important;
}
nav ul ul{
  position: absolute;
  
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul li{
  position: relative;
  margin: 0;
  
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);;
}
.icon{
  background-color: #091D3F;
}
.show, .icon{
  display: none;
}
@media all and (max-width:1023px) {
  .my-nav{
    display: none;
  }
} 