/* *{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav{
    background: #091D3F;
}
nav::after{
    content: "";
    clear: both;
    display: table;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    background: black;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
    background: #1D75CC;
}
nav ul ul{
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul li a:hover{
    background: #1D75CC;
}
nav ul li:hover>ul{
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);;
}
nav ul ul a{
    padding-left: 40px;
}
.icon{
    background-color: #091D3F;
}
.show, .icon, input{
    display: none;
}
@media all and (max-width:1023px) {
   nav ul{
    margin-right: 0;
    float: left;
   }
   nav ul li, nav ul ul li{
    display: block;
    width: 100%;
   }
   .show + a, ul{
    display: none;
   }
   [id^=btn]:checked + ul {
    display: block;
   }
   nav ul ul{
    position: static;
    top: 70px;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
   }
   .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
   }
   .show:hover{
    background: #1D75CC;
   }
   .icon{
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
   }

} */