body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



body {
  font-family: Roboto, Arial, sans-serif !important;
  font-size: 14px;
    
    color: #333;
    background-color: #fff;
    display: block;
}
a{
  color: #1D75CC;
}
p{
  text-align: justify;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
